<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.homefullshelter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LogoutActivity"
            android:label="@string/title_activity_logout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Registration"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.homefullshelter.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.VacancyView"
            android:label="@string/title_activity_vacancyview"
            android:parentActivityName=".view.ShelterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.homefullshelter.view.ShelterListActivity" />
        </activity>
        <activity
            android:name=".view.ShelterListActivity"
            android:label="@string/title_activity_detail_list"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.homefullshelter.view.MainActivity" />
        </activity>
    </application>

</manifest>